* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.side_bar {
    background-color: #07575b;
    width: 57px;
    height: 100%;
}

.side_bar ul {
    list-style-type: none;
}

.side_bar li:hover {
    background-color: #c0dee5;
}

.side_bar a {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: #61a4ad;
}

.side_bar a:hover {
    color: #003b46;
}

.side_bar hr {
    width: 75%;
    color: #61a4ad;
    border-width: 2px;
}

.side_bar img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}