* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    height: 100vh;
}

.side_bar {
    background-color: #07575b;
    width: 57px;
    height: 100%;
}

.side_bar .logo {
    font-size: 1.6rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: #61a4ad;
}

.side_bar ul {
    list-style-type: none;
}

.side_bar li:hover {
    background-color: #c0dee5;
}

.side_bar a {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #61a4ad;
}

.side_bar a:hover {
    color: #003b46;
}

.side_bar hr {
    width: 75%;
    color: #61a4ad;
    border-width: 2px;
}

.side_bar img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.ticket_panel {
    background-color: #ededed;
    width: 225px;
    height: 100%;
    left: 57px;
}

.ticket_panel span {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.ticket_panel .item_separate {
    width: 86%;
}

.ticket_panel a {
    font-size: 1.1rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: #003b46;
}

.ticket_panel a:hover {
    color: #61a4ad;
}

.agent_header {
    height: 57px;
    width: 100%;
    left: 57px;
    border-width: 0px 0px 1px 0px !important;
    border-color: #07575b !important;
}

.agent_header span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #003b46;
}

.dept {
    height: 45%;
    width: 15%;
    left: 100px;
    top: 100px;
    border: 2px solid #003b46;
}

.dept .add_dept {
    background-color: #07575b;
    color: #c0dee5;
    font-size: 1.5rem;
    line-height: 1.75rem;
    width: 90%;
    margin-top: 50%;
}

.dept .add_dept:hover {
    background-color: #c0dee5;
    color: #003b46;
}

.login_form {
    background-color: #c0dee5;
    height: 100vh;
}

.login_form button {
    width: 100%;
    background-color: #61a4ad;
    font-size: 1.25rem;
    color: #003b46;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5rem;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}