{% extends "/admin/index.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% include "/admin/side-panel.html" %}

{% block content %}

<!-- Header -->
<section class="agent_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Browse Agents
        <i class="bi bi-person-vcard-fill col ps-2"></i>
    </span>
</section>

<!-- Cards -->
<div class="dept card position-fixed">
    <div class="card-body align-items-center text-center">
        <button class="add_dept btn" type="button" data-bs-toggle="modal" data-bs-target="#create_dept">
            Add Department
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="create_dept" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}