<div class="sidebar_panel position-absolute start-0">
    
    <!-- Header -->
    <a href="#" class="d-flex text-decoration-none link-dark ms-3">
        <img src="{{ url_for('static', filename='images/aclc.png') }}" alt="ACLC Icon"
                class="logo ms-1 mt-3 me-2 mb-1">
        <span class="mt-3">TechDesk</span>
    </a>

    <hr class="my-2">

    <ul class="nav nav-pills flex-column justify-content-center mx-1">
        <li class="nav-item">
            <a href="{{ url_for('tickets') }}" class="nav-link items" aria-current="tickets">
                <i class="bi bi-ticket-detailed me-2"></i>
                Tickets
            </a>
        </li>

        <!-- <ul class="nav nav-pills list-group-item ms-3">
            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="unassigned">
                    <i class="bi bi-person-x-fill me-2"></i>
                    Unassigned
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="pending">
                    <i class="bi bi-arrow-clockwise me-2"></i>
                    Pending
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="hold">
                    <i class="fa-solid fa-hand me-2"></i>
                    On Hold
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="summary">
                    <i class="bi bi-clock-history me-2"></i>
                    Ticket Summary
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="archive">
                    <i class="bi bi-archive-fill me-2"></i>
                    Archive
                </a>
            </li>
        </ul> -->

        <hr class="my-2">

        <li class="nav-item">
            <a href="{{ url_for('agents') }}" class="nav-link items" aria-current="agents">
                <i class="fa-solid fa-users me-2"></i>
                Agents
            </a>
        </li>
    </ul>

    <div class="nav nav-pills dropup dropup-center position-absolute bottom-0">
        <button class="nav-link mx-1 mb-1 dropdown-toggle link-dark" data-bs-toggle="dropdown">
            <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="Profile" class="profile me-1">
            <span class="profile_name">Admin</span>
        </button>
        <ul class="dropdown-menu">
            <!-- <li><a href="#" class="dropdown-item">Settings</a></li> -->
            <li><a href="#" class="dropdown-item">Logout</a></li>
        </ul>
    </div>
</div>