{% extends "forms/user/index.html" %}


{% block side_panel %}
<!-- side_panel -->
<div class="ticket_panel position-fixed end-0">
    <span class="row m-4">
        Tickets
        <i class="bi bi-ticket-detailed col ps-2"></i>
    </span>

    <hr>

    <ul class="nav nav-pills nav-flush flex-column m-2">
        <li class="nav-item">
            <a href="#" class="btn btn-secondary text-black form-control" data-bs-toggle="modal" data-bs-target="#composeModal">
                <i class="bi bi-pen"></i>
                Compose ticket
            </a>
        </li>

        <hr class="item_separate mt-2 mx-auto text-center">

        <!-- <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Unassigned</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Pending</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">On Hold</a>
        </li>

        <hr class="item_separate mt-2 mx-auto text-center"> -->

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Ticket Summary</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Archive</a>
        </li>

    </ul>
</div>
<!-- /side_panel -->
{% endblock %}

{% block content %}
<!-- content -->
<table id="tickets" class="table table-hover">
    <div class="navbar navbar-expand">
        <ul class="navbar-nav px-2 ">
            <li class="nav-item p-2">
                <div class="form-group">
                    <input type="checkbox" name="" id="check-all">
                    <label for="check-all">Select all</label>
                </div>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link p-2">
                    <i class="bi bi-trash3"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link p-2">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
        </ul>
        
    </div>
    <tbody>
        
    </tbody>
    
</table>
<div id="pagination"></div>
<!-- /content -->
{% endblock %}


{% block modals %}
<div class="modal" id="composeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Compose New Ticket</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <!-- <div class="row my-1 border-bottom">
                        <label for="toInput" class="col-sm-1 fs-6">To.</label>
                        <div class="col-sm-11 ">
                            <input type="text" name="" id="toInput" class="form-control form-control-sm border-0">
                        </div>
                    </div> -->
                    <div class="row my-1 border-bottom">
                        <label for="subject" class="col-sm-2 fs-6">Subject</label>
                        <div class="col-sm-10 ">
                            <input type="text" name="" id="subject" class="form-control form-control-sm border-0" required>
                        </div>
                    </div>
                    <div class="row border-bottom py-3">
                        <small class="text-warning" id="warn-mail"></small>
                        <textarea name="" id="content" rows="10" class="form-control border-0"></textarea>
                    </div>

                    <input type="file" name="" id="file-input" class="form-control form-control-sm mt-2" required>
                </div>
                <div class="modal-footer border-top py-0">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary rounded-pill" id="send">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="table-modal-conatainer">
       
</div>



{% endblock %}

{% block  jsfunction %}
<script>
    $(document).ready(function(){
        // Set the number of rows per page
    var rowsPerPage = 2;
    
    // Get a reference to the table
    var table = $("table#tickets");
    
    // Get the total number of rows in the table
    var totalRows = table.find("tbody tr").length;
    
    // Calculate the total number of pages
    var totalPages = Math.ceil(totalRows / rowsPerPage);
    
    // Create the pagination buttons
    for (var i = 1; i <= totalPages; i++) {
    $("#pagination").append("<button class='page-btn'>" + i + "</button>");
    }
    
    // Add a click event to the pagination buttons
    $(".page-btn").on("click", function() {
    // Get the current page number
    var currentPage = $(this).text();
    
    // Hide all rows
    table.find("tbody tr").hide();
    
    // Show the rows for the current page
    table.find("tbody tr").slice((currentPage - 1) * rowsPerPage, currentPage * rowsPerPage).show();
    });
    
    // Show the first page of rows by default
    table.find("tbody tr").hide().slice(0, rowsPerPage).show();
    });
</script>
<script>
    $(document).ready(function() {

        $.get('http://' + document.domain + ':' + location.port + '/user/getdata',function(data,status){
           for( var key in data){
            // !dateformating
            const element = data[key];
            const timestamp = new Date(element.created_at);
            const months = ["Jan.", "Feb.", "Mar.", "Apr.", "May.", "Jun.", "Jul.", "Aug.", 
            "Sep.", "Oct.", "Nov.", "Dec."];
            const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            const formatedDate = days[timestamp.getDay()] + ", " +  months[timestamp.getMonth()] + " "
            + timestamp.getDate() + ", " + timestamp.getFullYear();
            const formatTime = timestamp.getHours() + ":" + timestamp.getMinutes() +":" + timestamp.getSeconds();
            // !-- dateformating

            // limit String formats
            var limitedContent = element.content.length > 50 ? element.content.substring(0,60) + ' . . .': element.content;
            $('table#tickets > tbody ').append(`
                <tr class="row" data-bs-toggle="modal" data-bs-target="#rowModal${element.id}">
                    <td class="col-1">
                        <input class="mail-check" type="checkbox" name=""  id="${element.id}">
                    </td>
                    <td class="col-2 ">${element.subject}</td>
                    <td class="col-6 text-secondary">${limitedContent}</td>
                    <td class="text-center col-2 text-muted">${formatedDate}<br>${formatTime}</td>
                    <td class="col-1"></td>
                </tr>
            `)

            $('#table-modal-conatainer').append(`
                <div class="modal" id="rowModal${element.id}">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Ticket</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row  border-bottom">
                                    <label for="trSubject" class="col-sm-2">Subject</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly value="${element.subject}" name="" id="" class="border-0 fs-6">
                                    </div>
                                </div>
                                <br>
                                <p class="">
                                    ${element.content}
                                </p>
                                <div class="card border-top">
                                    <div class="card-header">
                                        Feedbacks
                                    </div>
                                    <div class="card-body">
                                        
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-inline">
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <textarea name="feedback" id="feedback"class="form-control " rows="1"></textarea>
                                                </div>
                                                <button class="btn btn-primary text-center col-2">
                                                    <i class="bi bi-send"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            `);
           } 
        });


        $('#send').click(function() {
            if ($('#subject').val().length != 0 || $('#content').val().length != 0){

                // var file = $('#file-input')[0].files[0];
                // var formData = new FormData();
                // formData.append('file', file);
                
                // $.ajax({
                //     url: 'http://' + document.domain + ':' + location.port +'/user',
                //     type: 'POST',
                //     data: formData,
                //     contentType: false,
                //     processData: false,
                //     headers: {'Content-Type': 'multipart/form-data'},
                //     success: function(response) {
                //     console.log(response);
                //     },
                //     error: function(error) {
                //     console.log(error);
                //     }
                // });

                $.post('http://' + document.domain + ':' + location.port + '/user', {
                'subject': $('#subject').val(),
                'content': $('#content').val(),
            },function(data, status) {
                console.log(data);
                location.reload();
            });
            }
            else{
                $('#warn-mail').html('To create a new ticket. Please include subject and its content.');
            }
            
        });


        $('#check-all').change(function(){
            if($(this).is(':checked')){
                $('.mail-check').prop('checked', true);
            }else{$('.mail-check').prop('checked', false);}
        });
        
    });

</script>

{% endblock %}