{% extends "index.html" %}

{% block title %}Register Form{% endblock %}

{% block form %}

<div class="custom_form row align-items-center justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">
        <form methods="post" action="">
            {{ form.hidden_tag() }}
            <div class="mb-4 border-bottom border-dark-subtle">
                <h3>Create Account</h3>
            </div>

            <!-- Full Name -->
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ form.username(class='form-control form-control-lg') }}
                            <input type="text" class="form-control" id="fname">
                        </div>
                        <div id="fname-error" class="text-danger"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ form.email(class='form-control form-control-lg') }}
                            <input type="text" class="form-control" id="lname">
                        </div>
                        <div id="lname-error" class="text-danger"></div>
                    </div>
                </div>
            </div>

            <!-- Password 1 -->
            <div class="mb-1">
                {{ form.password1(class='form-control form-control-lg') }}
                <input type="text" class="form-control" id="uname">
            </div>
            <div id="uname-error" class="text-danger mb-3"></div>

            <!-- Password 2 -->
            <div class="mb-1">
                <{{ form.password2(class='form-control form-control-lg' ) }} <input type="password" class="form-control"
                    id="pwd">
            </div>
            <div id="password-error" class="text-danger mb-3"></div>

            <!-- T.A.C -->
            <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="tac">
                <label for="tac" class="form-check-label">I agree to the <a href="#" class="text-decoration-none">Terms
                        and
                        Conditions</a></label>
            </div>

            {{ form.submit(class='btn btn-dark btn-lg btn-block') }}
        </form>
        <p class="mb-0 text-center">Already have an account?
            <a href="{{ url_for('login') }}" class="text-decoration-none">Login Now</a>
        </p>
    </div>
</div>

{% endblock %}