<div class="side_panel position-fixed end-0">
    <span class="row m-4">
        Tickets
        <i class="bi bi-ticket-detailed col ps-2"></i>
    </span>

    <hr>

    <ul class="nav nav-pills nav-flush flex-column m-2">
        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-2">All Tickets</a>
        </li>

        <hr class="item_separate mt-2 mx-auto text-center">

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Unassigned</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Pending</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">On Hold</a>
        </li>

        <hr class="item_separate mt-2 mx-auto text-center">

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Ticket Summary</a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-1 my-1">Archive</a>
        </li>

    </ul>
</div>