<!-- Sidebar -->
<div class="side_bar d-flex flex-column flex-shrink-0">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">

        <!-- Items -->
        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom" data-bs-placement="right" data-bs-original-title="Tickets">
                <i class="bi bi-ticket-fill"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link py-3 border-bottom" data-bs-placement="right" data-bs-original-title="Tickets">
                <i class="bi bi-ticket-fill"></i>
            </a>
        </li>
    </ul>
</div>