<!-- Inbox Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Inbox
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- Sent Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Sent
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- Archive Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Archive
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>