<ul class="nav nav-pills nav-flush dropdown flex-column m-2 position-absolute top-0">
    <li class="nav-item">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle show" id="accountOptions"
            data-bs-toggle="dropdown" aria-expanded="true">
            <img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="placeholder">
            <strong>Admin Account</strong>
        </a>
        <ul class="dropdown-menu text-small shadow show position-absolute m-0" aria-labelledby="accountOptions"
            data-popper-placement="top-start">
            <li class="nav-item">
                <a href="#" class="dropdown-item">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a href="#" class="dropdown-item">Logout</a>
            </li>
        </ul>
    </li>
</ul>
</div> -->