<!-- All Tickets Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        All Tickets
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- Unassigned Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Unassigned
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- Pending Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Pending
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- On Hold Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        On Hold
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>

<!-- Archive Header -->
<section class="ticket_header position-fixed top-0 border-bottom">
    <span class="row my-3 mx-4">
        Archive
        <i class="bi bi-ui-checks col ps-2"></i>
    </span>
</section>