<div class="sidebar_panel position-absolute start-0">
    <!-- Header -->
    <a href="#" class="d-flex align-items-center justify-content-center text-decoration-none link-dark">
        <img src="{{ url_for('static', filename='images/aclc.png') }}" alt="ACLC Icon" class="logo ms-1 mt-3 me-2 mb-1">
        <span class="mt-3">Helpdesk Software Support</span>
    </a>

    <hr class="my-2">

    <ul class="nav nav-pills flex-column justify-content-center mx-1">
        <li class="nav-item">
            <a href="#" class="btn btn-secondary text-black form-control" data-bs-toggle="modal"
                data-bs-target="#composeModal">
                <i class="bi bi-pen"></i>
                Compose ticket
            </a>
        </li>

        <hr class="my-2">

        <li class="nav-item">
            <a href="#" class="nav-link items" aria-current="inbox">
                <i class="bi bi-inbox-fill me-2"></i>
                Inbox
            </a>
        </li>

        <ul class="nav nav-pills list-group-item ms-3">
            <li class="nav-item">
                <a href="#" class="nav-link items" aria-current="sent">
                    <i class="bi bi-send-check-fill me-2"></i>
                    Sent
                </a>
            </li>

            <li class="nav-item">
                <a href="#" id="archive" class="nav-link items" aria-current="archive">
                    <i class="bi bi-archive-fill me-2"></i>
                    Archive
                </a>
            </li>
        </ul>
    </ul>
</div>
<script>
    $(document).ready(function () {

    });
</script>