{% extends "user/index.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<!-- content -->
<table id="tickets" class="table table-hover mw-100">
    <div class="navbar navbar-expand m-100 row border-bottom bg-light" style="position: sticky;top:0; font-size: 1.25rem; margin-top: 1px;">
        <ul class="navbar-nav px-2 col-8">
            <li class="nav-item p-2">
                <div class="form-group">
                    <input type="checkbox" name="" id="check-all">
                    <label for="check-all">Select all</label>
                </div>
            </li>
            <li class="nav-item">
                <a id="toArchive" class="nav-link p-2">
                    <i class="bi bi-trash3"></i>
                </a>
            </li>
        </ul>
        <div class="col-4 px-1">
            <div class="input-group ">
                <input type="text" id="table-search" class="form-control border-end-0" placeholder="Search">
                <div class="input-group-text border-start-0 me-3">
                    <i class="bi bi-search"></i>
                </div>
            </div>
        </div>
    </div>

    <tbody>

    </tbody>
</table>
{% endblock %}

{% block modals %}
<div class="modal" id="composeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header my-2">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Compose New Ticket</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <!-- <div class="row my-1 border-bottom">
                        <label for="toInput" class="col-sm-1 fs-6">To.</label>
                        <div class="col-sm-11 ">
                            <input type="text" name="" id="toInput" class="form-control form-control-sm border-0">
                        </div>
                    </div> -->
                    <div class="row my-1 border-bottom">
                        <label for="subject" class="col-sm-2 fs-6">Subject</label>
                        <div class="col-sm-7 ">
                            <input type="text" name="" id="subject" class="form-control form-control-sm border-0"
                                required>
                        </div>
                        <div class="col-sm-3">
                            <select name="" id="priority" class="form-select form-select-sm">
                                <option value="1">Normal</option>
                                <option value="2">High</option>
                                <option value="3">Critical</option>
                            </select>
                        </div>
                    </div>
                    <div class="row border-bottom py-3">
                        <small class="text-warning" id="warn-mail"></small>
                        <textarea name="" id="content" rows="10" class="form-control border-0"></textarea>
                    </div>

                    <!-- <input type="file" name="" id="file-input" class="form-control form-control-sm mt-2" required> -->
                </div>
                <div class="modal-footer border-top py-0">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary rounded-pill" id="send">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="table-modal-conatainer">

</div>



{% endblock %}

{% block jsfunction %}

<script>
    $(document).ready(function () {



        $("#table-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("table#tickets tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $.get('http://' + document.domain + ':' + location.port + '/user/getdata', function (data, status) {
            for (var key in data) {
                // !dateformating
                const element = data[key];
                const timestamp = new Date(element.created_at);
                const user = '{{ current_user.id }}';
                const months = ["Jan.", "Feb.", "Mar.", "Apr.", "May.", "Jun.", "Jul.", "Aug.",
                    "Sep.", "Oct.", "Nov.", "Dec."];
                const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                const formatedDate = days[timestamp.getDay()] + ", " + months[timestamp.getMonth()] + " "
                    + timestamp.getDate() + ", " + timestamp.getFullYear();
                const formatTime = timestamp.getHours() + ":" + timestamp.getMinutes() + ":" + timestamp.getSeconds();
                // !-- dateformating
                // limit String formats
                var limitedContent = element.content.length > 50 ? element.content.substring(0, 60) + ' . . .' : element.content;
                if (element.department_id == user) {
                    $('table#tickets > tbody ').append(`
                    <tr class="row" >
                        <td class="col-1 ">
                            <div class="form-grou p-2">
                                <input class="mail-check" type="checkbox" name=""  id="${element.id}">
                            </div>
                        </td>
                        <td class="col-2 " data-bs-toggle="modal" data-bs-target="#rowModal${element.id}">
                            ${element.subject}
                        </td>
                        <td class="col-6 text-secondary" data-bs-toggle="modal" data-bs-target="#rowModal${element.id}">${limitedContent}</td>
                        <td class="text-center col-2 text-muted">${formatedDate}<br>${formatTime}</td>
                        <td class="col-1"></td>
                    </tr>
                `)

                    $('#table-modal-conatainer').append(`
                    <div class="modal" id="rowModal${element.id}">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ticket</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row  border-bottom">
                                        <label for="trSubject" class="col-sm-2">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" readonly value="${element.subject}" name="" id="" class="border-0 fs-6">
                                        </div>
                                    </div>
                                    <br>
                                    <div style="position: relative;height: 200px;overflow: auto;display: block;">
                                        <p >
                                            ${element.content}
                                        </p>
                                    </div>
                                    <div class="card border-top">
                                        <div class="card-header">
                                            Feedbacks
                                        </div>
                                        <div class="card-body" style="position: relative;height: 150px;overflow: auto;display: block;">
                                            
                                        </div>
                                        <div class="card-footer">
                                            <div class="form-inline">
                                                <div class="form-group row">
                                                    <div class="col-11 ">
                                                        <textarea name="feedback" id="feedback"class="form-control " rows="1"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary text-center col-1">
                                                        <i class="bi bi-send"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                `);
                }
            }
        });

        $('#send').click(function () {
            if ($('#subject').val().length != 0 || $('#content').val().length != 0) {

                // var file = $('#file-input')[0].files[0];
                // var formData = new FormData();
                // formData.append('file', file);

                // $.ajax({
                //     url: 'http://' + document.domain + ':' + location.port +'/user',
                //     type: 'POST',
                //     data: formData,
                //     contentType: false,
                //     processData: false,
                //     headers: {'Content-Type': 'multipart/form-data'},
                //     success: function(response) {
                //     console.log(response);
                //     },
                //     error: function(error) {
                //     console.log(error);
                //     }
                // });

                $.post('http://' + document.domain + ':' + location.port + '/user/ticketsend', {
                    'id' : '{{ current_user.id }}',
                    'subject': $('#subject').val(),
                    'content': $('#content').val(),
                    'priority': $('#priority').val()
                }, function (data, status) {
                    console.log(data);
                    location.reload();
                });
            }
            else {
                $('#warn-mail').html('To create a new ticket. Please include subject and its content.');
            }

        });

        $('#check-all').change(function () {
            if ($(this).is(':checked')) {
                $('.mail-check').prop('checked', true);
            } else { $('.mail-check').prop('checked', false); }
        });

        $('a#toArchive').click(function () {
            $('tbody tr input').each(function () {
                if ($(this).is(':checked')) {
                    const id = $(this)[0].id;

                    $.post('http://' + document.domain + ':' + location.port + '/user/update', {
                        'id': id,
                        'archived': "1",
                    }, function (data, status) {
                        console.log(data);
                        
                    });

                };
            });
        });
    });

</script>

{% endblock %}